@import "../base/colors";
@import "../base/font";

/* ******* BUTTON STYLING START ******* */
a.edgtf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $elevar_purple !important;
    color: $white !important;
    border-color: $elevar_purple !important;
    font-size: 24px;
    line-height: 30px;
    height: 54px;
    border-radius: 10px;
    padding: 0;
    max-width: 400px;
    text-transform: initial;
    letter-spacing: 0;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    text-decoration: none !important;
    border: 1px solid;
    transition: background-color 500ms;
}
a.edgtf-btn:hover {
    background-color: $white !important;
    color: $elevar_purple  !important;
    border-color: $elevar_purple !important;
    transition: background-color 500ms;
}

.edgtf-btn.edgtf-btn-solid:not(.edgtf-btn-custom-hover-color):hover {
    background-color: $white !important;
    color: $elevar_purple  !important;
    border-color: $elevar_purple !important;
    transition: background-color 500ms;
}
.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder input.edgtf-search-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $elevar_purple;
    color: $white !important;
    border-color: $elevar_purple;
    font-size: 24px;
    line-height: 30px;
    height: 54px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    width: 100%;
    text-decoration: none !important;
    letter-spacing: 0;
    transition: background-color 500ms;
    :hover {
    background-color: $white;
    color: $elevar_purple !important;
    border-color: $elevar_purple;
    transition: background-color 500ms;
    }
}
.edgtf-btn-text .edgtf-shuffle {
    i.edgtf-icon-linea-icon.icon-arrows-slim-right {
        display: none;
    }
}
a.cli-plugin-button:focus {
    outline: 0;
    opacity: 1 !important;
    transition: background-color 500ms;
}
a.cli-plugin-button {
    color: #fff !important;
    height: 40px;
    padding: 0 !important;
    border-radius: 10px !important;
    border: 1px solid #2b71b7 !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    min-width: 125px;
    text-align: center;
    line-height: 40px !important;
    box-sizing: border-box;
    margin: 0 15px 0 15px !important;
    transition: background-color 500ms;
}
a#wt-cli-settings-btn {
    background-color: $elevar_blue !important;
    border-color: $elevar_blue !important;
    transition: background-color 500ms;
}
a#wt-cli-settings-btn:hover {
    background-color: $white !important;
    color: $elevar_blue !important;
    border-color: $elevar_blue !important;
    transition: background-color 500ms;
}
a#wt-cli-accept-btn {
    background-color: $elevar_purple !important;
    border-color: $elevar_purple !important;
    transition: background-color 500ms;
}
a#wt-cli-accept-btn:hover {
    background-color: $white !important;
    color: $elevar_purple !important;
    border-color: $elevar_purple !important;
    transition: background-color 500ms;
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
    a.edgtf-btn {
        font-size: 22px;
        line-height: 38px;
        margin-top: 4% !important;
        margin-bottom: 4% !important;
    }
    .edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder input.edgtf-search-submit {
        font-size: 22px;
        line-height: 38px;
    }
}
@media only screen and (max-width: 576px) {
        a.edgtf-btn {
        font-size: 20px;
        line-height: 26px;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        }
        .edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder input.edgtf-search-submit {
        font-size: 20px;
        line-height: 26px;
        }
        a.edgtf-btn.privacy {
            font-size: 12px;
            height: 35px;
            width: 115px;
            border-radius: 10px !important;
            padding: 0 !important;
            margin: 0 10px !important;
            color: $white !important;
        }
}
@media only screen and (max-width: 480px) {
        a.edgtf-btn {
        font-size: 18px;
        line-height: 24px;
        margin-top: 7% !important;
        margin-bottom: 7% !important;
        }
        .edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder input.edgtf-search-submit {
        font-size: 18px;
        line-height: 24px;
        }
}
/* ******* BUTTON STYLING END ******* */