@import "../base/colors";
@import "../base/font";

/* ******* CAROUSEL 2023 START ******* */
div#col-home-testimonial {
    div.edgtf-testimonials-holder {
        div.edgtf-testimonials-inner {
            div.edgtf-grid {
                .edgtf-testimonials.edgtf-testimonials-carousel {
                    div.owl-stage-outer {
                        div.owl-stage {
                            div.owl-item {
                                margin-left: 0px !important;
                                margin-right: 0px !important;
                                padding-top: 0px !important;
                                .edgtf-testimonial-content {
                                    width: 420px !important;
                                    padding: 0!important;
                                    height: 555px !important;
                                    border: 1px solid $drk_gray3;
                                    border-radius: 25px;
                                    text-align: left !important;
                                    div.edgtf-testimonial-content-inner {
                                        display: flex;
                                        height: 100%;
                                        div.edgtf-testimonial-text-holder {
                                            div.edgtf-testimonial-text-inner {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: flex-end;
                                                flex-wrap: nowrap;
                                                align-items: flex-end;
                                                height: 100%;
                                                padding: 20px 30px 15px 30px;
                                                p.edgtf-testimonial-text {
                                                    display: flex;
                                                    margin: 0 !important;
                                                    font-size: 17px;
                                                    letter-spacing: -0.15px;
                                                    line-height: 28px;
                                                    height: 195px;
                                                    color: $drk_gray3;
                                                }
                                                div.edgtf-testimonial-bottom {
                                                    display: flex;
                                                    div.edgtf-testimonial-author {
                                                        p.edgtf-testimonial-author-text {
                                                            line-height: 28px;
                                                            color: $elevar_blue;
                                                            min-height: 84px;
                                                            margin: 0;
                                                            text-transform: uppercase;
                                                            font-weight: 700;
                                                            margin-top: 10px !important;
                                                            font-size: 17px;
                                                                span.edgtf-testimonials-job {
                                                                    color: $elevar_blue !important;
                                                                    font-weight: 400;
                                                                }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div.edgtf-testimonial-image-holder {
                                        position: absolute;
                                        top: 0 !important;
                                        left: 0 !important;
                                        display: block;
                                        width: 100% !important;
                                        height: auto !important;
                                        -webkit-transform: unset;
                                        -moz-transform: unset;
                                        transform: unset !important;
                                            img {
                                            max-width: 100% !important;
                                            -webkit-border-radius: 0;
                                            -moz-border-radius: 0;
                                            border-radius: 0 !important;
                                            border-top-left-radius: 25px !important;
                                            border-top-right-radius: 25px !important;
                                            width: 100% !important;
                                            }
                                    }
                                }
                            }
                        }
                    }
        }
            }
        }
        div.edgtf-tes-nav.edgtf-tes-controls {
            span.edgtf-tes-nav-prev {
                height: 82px !important;
                width: 82px !important;
                line-height: 82px  !important;
                border-radius: 100%;
                background-color: $elevar_blue;
                left: -90px !important;
                text-align: center;
                transition: background-color 500ms;
                z-index: 999;
                .edgtf-icon-mark {
                    position: relative;
                    left: -3px;
                    top: 2px;
                }
                .edgtf-icon-mark:before {
                    content: url('/wp-content/themes/conall-child/images/chevron-left.svg');
                    height: 82px;
                    width: 82px;
                }
                &:hover {
                    background-color: $links;
                    transition: background-color 500ms;
                }
            }
            span.edgtf-tes-nav-next {
                height: 82px !important;
                width: 82px !important;
                line-height: 82px  !important;
                border-radius: 100%;
                background-color: $elevar_blue;
                right: -90px !important;
                text-align: center;
                transition: background-color 500ms;
                z-index: 999;
                .edgtf-icon-mark {
                    position: relative;
                    left: 3px;
                    top: 2px;
                }
                .edgtf-icon-mark:before {
                    content: url('/wp-content/themes/conall-child/images/chevron-right.svg');
                    height: 82px;
                    width: 82px;
                }
                &:hover {
                    background-color: $links;
                    transition: background-color 500ms;
                }
            }
        }
    }
}
@media all and (max-width: 1500px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    left: 0px !important;
                    .edgtf-icon-mark {
                        position: relative;
                        left: -3px;
                        top: 3px;
                    }
                }
                span.edgtf-tes-nav-next {
                    right: 0px !important;
                    .edgtf-icon-mark {
                        left: 3px;
                        top: 3px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1300px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    left: -25px !important;
                    .edgtf-icon-mark {
                        left: -3px;
                        top: 3px;
                    }
                }
                span.edgtf-tes-nav-next {
                    right: -25px !important;
                    .edgtf-icon-mark {
                        left: 3px;
                        top: 3px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1150px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    height: 70px !important;
                    width: 70px !important;
                    line-height: 70px  !important;
                    left: -40px !important;
                    .edgtf-icon-mark {
                        position: relative;
                        left: -3px;
                        top: 3px;
                    }
                    .edgtf-icon-mark:before {
                        height: 70px;
                        width: 70px;
                    }
                }
                span.edgtf-tes-nav-next {
                    height: 70px !important;
                    width: 70px !important;
                    line-height: 70px  !important;
                    right: -40px !important;
                    .edgtf-icon-mark {
                        left: 3px;
                        top: 3px;
                    }
                    .edgtf-icon-mark:before {
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1024px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    height: 70px !important;
                    width: 70px !important;
                    line-height: 70px  !important;
                    left: -75px !important;
                    .edgtf-icon-mark {
                        left: -3px;
                        top: -1px;
                    }
                    .edgtf-icon-mark:before {
                        content: url('/wp-content/themes/conall-child/images/chevron-left-mob.svg');
                    }
                }
                span.edgtf-tes-nav-next {
                    height: 70px !important;
                    width: 70px !important;
                    line-height: 70px  !important;
                    right: -75px !important;
                    .edgtf-icon-mark {
                        left: 3px;
                        top: -1px;
                    }
                    .edgtf-icon-mark:before {
                        content: url('/wp-content/themes/conall-child/images/chevron-right-mob.svg');
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    left: -10px !important;
                }
                span.edgtf-tes-nav-next {
                    right: -10px !important;
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    height: 65px !important;
                    width: 65px !important;
                    line-height: 65px  !important;
                    left: -35px !important;
                    .edgtf-icon-mark:before {
                        height: 65px;
                        width: 65px;
                    }
                }
                span.edgtf-tes-nav-next {
                    height: 65px !important;
                    width: 65px !important;
                    line-height: 65px  !important;
                    right: -35px !important;
                    .edgtf-icon-mark:before {
                        height: 65px;
                        width: 65px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-testimonials-inner {
                div.edgtf-grid {
                    .edgtf-testimonials.edgtf-testimonials-carousel {
                        div.owl-stage-outer {
                            div.owl-stage {
                                div.owl-item {
                                    .edgtf-testimonial-content {
                                        width: 300px !important;
                                        height: 535px !important;
                                        div.edgtf-testimonial-content-inner {
                                            div.edgtf-testimonial-text-holder {
                                                div.edgtf-testimonial-text-inner {
                                                    padding: 0px 25px 10px 25px;
                                                        p.edgtf-testimonial-text {
                                                        height: 220px;
                                                        font-size: 16px;
                                                        line-height: 25px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div.edgtf-tes-nav.edgtf-tes-controls {
                span.edgtf-tes-nav-prev {
                    left: -60px !important;
                }
                span.edgtf-tes-nav-next {
                    right: -60px !important;
                }
            }
        }
    }
}
@media all and (max-width: 320px) {
    div#col-home-testimonial {
        div.edgtf-testimonials-holder {
            div.edgtf-testimonials-inner {
                div.edgtf-grid {
                    .edgtf-testimonials.edgtf-testimonials-carousel {
                        div.owl-stage-outer {
                            div.owl-stage {
                                div.owl-item {
                                    .edgtf-testimonial-content {
                                        div.edgtf-testimonial-content-inner {
                                            div.edgtf-testimonial-text-holder {
                                                div.edgtf-testimonial-text-inner {
                                                    p.edgtf-testimonial-text {
                                                        margin: 10px 0 5px 0 !important;
                                                        height: 220px;
                                                        margin: 10px 0 5px 0 !important;
                                                        font-size: 16px;
                                                        line-height: 26px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div.edgtf-tes-nav.edgtf-tes-controls {
                display: none;
            }
        }
    }
}
/* ******* CAROUSEL 2023 END ******* */