@import "../base/colors";
@import "../base/font";
@import "../base/colors";


/* MAIN NAV */
.edgtf-sticky-header .edgtf-main-menu > ul > li > a {
  color: #202020 !important;
}
.edgtf-page-header .edgtf-sticky-header .edgtf-sticky-holder {
  background-color: #fff !important;
}
.edgtf-sticky-header {
  .edgtf-active-item {
    .current {
      color: $elevar_blue !important;
    }
  }
}

.edgtf-position-right {
  .edgtf-social-icon-widget-holder {
    .fa-twitter::before,
    .fa-linkedin::before  {
      color: #202020 !important;
    }
  }
}
/* Header Search icon & Text */ 
i.edgtf-icon-font-awesome.fa.fa-search {
      color: #202020 !important;
}
.edgtf-search-icon-text {
  color: #202020 !important;
}
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
