@import "../base/colors";
@import "../base/font";


/* ******* EVEAR 2023 HEADER START ******* */
.edgtf-drop-down .narrow .second .inner ul, .edgtf-drop-down .wide .second .inner > ul {
    background-color: #fff;
    box-shadow: 3px 3px 10px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 10px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px -6px rgba(0,0,0,0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li.edgtf-active-item > a,
.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a:hover {
  color: $elevar_blue !important;
}
.edgtf-fullscreen-search-opened .edgtf-form-holder .edgtf-search-field {
    letter-spacing: 0;
}
.edgtf-page-header {
    height: 135px;
    border: none;
    background-color: #ffffff !important;
    top: 1px;
    .edgtf-menu-area {
        height: 135px;
        div.edgtf-vertical-align-containers {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            div.edgtf-position-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 15%;
                flex-basis: 15%;
                float: unset;
                .edgtf-position-left-inner {
                    display: flex;
                    .edgtf-logo-wrapper {
                        a {
                            max-height: 107px;
                            img.elevar-logo {
                                aspect-ratio: 199/107;
                                min-width: 199px;
                            }
                        }
                    }
                }
            }
            div.edgtf-position-center {
                display: flex;
                width: 70%;
                flex-basis: 70%;
                position: relative;
                justify-content: center;
                align-items: center;
                .edgtf-position-center-inner {
                display: flex;
                width: 100%;
                    nav.edgtf-main-menu {
                    display: flex;
                        > ul {
                            display: flex;
                            justify-content: space-between;
                            > li {
                            float: unset;
                            display: flex;
                                > a {
                                font-size: 14px;
                                letter-spacing: 0;
                                font-weight: 600;
                                display: flex;
                                justify-content: center;
                                color: $black;
                                    > span.item_outer {
                                        padding: 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        -webkit-transform: translateY(0);
                                        -moz-transform: translateY(0);
                                        transform: translateY(0);
                                        top: 0;
                                        .item_text {
                                            display: flex;
                                        }
                                    }
                                }
                                .second {
                                    .inner {
                                        > ul {
                                            > li {
                                                width: 250px;
                                                > a {
                                                    font-size: 14px;
                                                    color: $drk_gray3;
                                                    font-weight: 500;
                                                }
                                                :hover {
                                                    color: $elevar_yellow;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            li.edgtf-active-item {
                                a.current {
                                color: $elevar_blue;
                                }
                            }
                        }
                    }
                }
            }
            div.edgtf-position-right {
                display: flex;
                width: 15%;
                flex-basis: 15%;
                justify-content: flex-end;
                align-items: center;
                div.edgtf-position-right-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 25%;
                    a.edgtf-search-opener{
                        span.edgtf-search-opener-wrapper {
                            display: flex;
                            line-height: 22px;
                                span.search-icon-box {
                                    background-color: $lt_blue;
                                    border-radius: 5px;
                                    display: flex;
                                    width: 22px;
                                    height: 22px;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 8px;
                                    i.edgtf-icon-font-awesome.fa.fa-search {
                                        color: #fff !important;
                                        font-size: 14px;
                                    }
                                    :before {

                                    }
                                }
                            span.edgtf-search-icon-text {
                                color: $black !important;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .edgtf-sticky-header {
        height: 85px;
        .edgtf-sticky-holder {
        background-color: #fff !important;
        div.edgtf-vertical-align-containers {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            div.edgtf-position-left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 15%;
                flex-basis: 15%;
                float: unset;
                .edgtf-position-left-inner {
                    display: flex;
                }
            }
            div.edgtf-position-center {
                display: flex;
                width: 70%;
                flex-basis: 70%;
                position: relative;
                justify-content: center;
                align-items: center;
                .edgtf-position-center-inner {
                    display: flex;
                    width: 100%;
                    nav.edgtf-main-menu {
                         display: flex;
                         > ul {
                            display: flex;
                            justify-content: space-between;
                            > li {
                            float: unset;
                            display: flex;
                                > a {
                                font-size: 14px;
                                letter-spacing: 0;
                                font-weight: 600;
                                display: flex;
                                justify-content: center;
                                color: $black;
                                    > span.item_outer {
                                        padding: 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        -webkit-transform: translateY(0);
                                        -moz-transform: translateY(0);
                                        transform: translateY(0);
                                        top: 0;
                                        .item_text {
                                            display: flex;
                                        }
                                    }
                                }
                                .second {
                                    .inner {
                                        top: 1px;
                                        > ul {
                                            > li {
                                                width: 250px;
                                                > a {
                                                    font-size: 14px;
                                                    color: $drk_gray3;
                                                    font-weight: 500;
                                                }
                                                :hover {
                                                    color: $elevar_yellow;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            li.edgtf-active-item {
                                a.current {
                                color: $elevar_blue;
                                }
                            }
                        }
                    }
                 }
            }
            div.edgtf-position-right {
                display: flex;
                width: 15%;
                flex-basis: 15%;
                justify-content: flex-end;
                align-items: center;
                .edgtf-position-right-inner{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 25%;
                    a.edgtf-search-opener{
                        span.edgtf-search-opener-wrapper {
                            display: flex;
                            line-height: 22px;
                                span.search-icon-box {
                                    background-color: $lt_blue;
                                    border-radius: 5px;
                                    display: flex;
                                    width: 22px;
                                    height: 22px;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 8px;
                                    i.edgtf-icon-font-awesome.fa.fa-search {
                                        color: #fff !important;
                                        font-size: 14px;
                                    }
                                    :before {

                                    }
                                }
                            span.edgtf-search-icon-text {
                                color: $black !important;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                 }
            }
        }
        }
    }
}
.edgtf-mobile-header {
    .edgtf-mobile-header-inner {
        height: 95px;
        background-color: #fff;
        border-bottom: none;
        div.edgtf-mobile-header-holder {
            div.edgtf-grid {
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
                div.edgtf-vertical-align-containers {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    div.edgtf-mobile-menu-opener {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 15%;
                        flex-basis: 15%;
                        float: unset;
                        a {
                            span.edgtf-mobile-opener-icon-holder {
                                span.edgtf-icon-font-elegant.icon_menu {

                                }
                                :before {

                                }
                            }
                        }
                    }
                    div.edgtf-position-center {
                        display: flex;
                        width: 70%;
                        flex-basis: 70%;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        div.edgtf-position-center-inner {
                            div.edgtf-mobile-logo-wrapper {
                                a {
                                    img {

                                    }
                                }
                            }
                        }
                    }
                    div.edgtf-position-right {
                        display: flex;
                        width: 15%;
                        flex-basis: 15%;
                        justify-content: flex-end;
                        align-items: center;
                        div.edgtf-position-right-inner {
                            a.edgtf-search-opener {
                                span.edgtf-search-opener-wrapper {
                                    display: flex;
                                    line-height: 22px;
                                    span.search-icon-box {
                                        background-color: $lt_blue;
                                        border-radius: 5px;
                                        display: flex;
                                        width: 22px;
                                        height: 22px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 8px;
                                        i.edgtf-icon-font-awesome.fa.fa-search {
                                            color: #fff !important;
                                            font-size: 14px;
                                        }
                                        :before {

                                        }
                                    }
                                    span.edgtf-search-icon-text {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        nav.edgtf-mobile-nav {

        }
    }
}

@media only screen and (max-width: 1200px) {
    .edgtf-page-header {
        .edgtf-menu-area {
            div.edgtf-vertical-align-containers {
                div.edgtf-position-left {
                    width: 20%;
                    flex-basis: 20%;
                }
                div.edgtf-position-center {
                    width: 70%;
                    flex-basis: 70%;
                    .edgtf-position-center-inner {
                        .edgtf-main-menu {
                            > ul {
                                > li {
                                    > a {
                                    font-size: 14px;
                                        > span.item_outer {
                                            .item_text {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-right {
                    width: 10%;
                    flex-basis: 10%;
                    div.edgtf-position-right-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0;
                    a.edgtf-search-opener{
                        span.edgtf-search-opener-wrapper {
                            display: flex;
                            line-height: 22px;
                                span.search-icon-box {
                                    background-color: $lt_blue;
                                    border-radius: 5px;
                                    display: flex;
                                    width: 22px;
                                    height: 22px;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 8px;
                                    i.edgtf-icon-font-awesome.fa.fa-search {
                                        color: #fff !important;
                                        font-size: 14px;
                                    }
                                    :before {

                                    }
                                }
                            span.edgtf-search-icon-text {
                                color: $black !important;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                    }
                }
            }
        }
        .edgtf-sticky-header {
            .edgtf-sticky-holder {
                background-color: #fff !important;
                div.edgtf-vertical-align-containers {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    div.edgtf-position-left {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 20%;
                        flex-basis: 20%;
                        float: unset;
                        .edgtf-position-left-inner {
                            display: flex;
                        }
                    }
                    div.edgtf-position-center {
                        display: flex;
                        width: 70%;
                        flex-basis: 70%;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        .edgtf-position-center-inner {
                            display: flex;
                            width: 100%;
                            nav.edgtf-main-menu {
                                display: flex;
                                > ul {
                                    display: flex;
                                    justify-content: space-between;
                                    > li {
                                    float: unset;
                                    display: flex;
                                        > a {
                                        font-size: 14px;
                                        letter-spacing: 0;
                                        font-weight: 600;
                                        display: flex;
                                        justify-content: center;
                                        color: $black;
                                            > span.item_outer {
                                                padding: 0;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                -webkit-transform: translateY(0);
                                                -moz-transform: translateY(0);
                                                transform: translateY(0);
                                                top: 0;
                                                .item_text {
                                                    display: flex;
                                                }
                                            }
                                        }
                                        .second {
                                            .inner {
                                                > ul {
                                                    > li {
                                                        > a {
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    li.edgtf-active-item {
                                        a.current {
                                        color: $elevar_blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div.edgtf-position-right {
                        display: flex;
                        width: 10%;
                        flex-basis: 10%;
                        justify-content: flex-end;
                        align-items: center;
                        .edgtf-position-right-inner{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-right: 25%;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1099px) {
    .edgtf-main-menu > ul > li > a > span.item_outer {
        padding: 0 12px;
    }
    .edgtf-sticky-header .edgtf-main-menu > ul > li > a >span.item_outer {
        padding: 0 12px;
    }
}
@media only screen and (max-width: 1035px) {
    .edgtf-main-menu > ul > li > a > span.item_outer {
        padding: 0 8px;
    }
    .edgtf-sticky-header .edgtf-main-menu > ul > li > a >span.item_outer {
        padding: 0 8px;
    }
}

@media only screen and (max-width: 1024px) {
    .edgtf-page-header {
        max-height: 135px;
        .edgtf-menu-area {
            height: 135px;
            padding: 0 30px;
            div.edgtf-vertical-align-containers {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                div.edgtf-position-left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 20%;
                    flex-basis: 20%;
                    float: unset;
                    .edgtf-position-left-inner {
                    display: flex;
                        .edgtf-logo-wrapper {
                            a {
                                max-height: 95px;
                                img.elevar-logo {
                                    aspect-ratio: unset;
                                    min-width: 177px;
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-center {
                    display: flex;
                    width: 70%;
                    flex-basis: 70%;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    .edgtf-position-center-inner {
                    display: flex;
                    width: 100%;
                        nav.edgtf-main-menu {
                        display: flex;
                            > ul {
                                display: flex;
                                justify-content: space-between;
                                > li {
                                float: unset;
                                display: flex;
                                    > a {
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: center;
                                    color: $black;
                                        > span.item_outer {
                                            padding: 0;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            -webkit-transform: translateY(0);
                                            -moz-transform: translateY(0);
                                            transform: translateY(0);
                                            top: 0;
                                            .item_text {
                                                display: flex;
                                            }
                                        }
                                    }
                                    .second {
                                        .inner {
                                            > ul {
                                                > li {
                                                    > a {
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li.edgtf-active-item {
                                    a.current {
                                    color: $elevar_blue;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-right {
                    display: flex;
                    width: 10%;
                    flex-basis: 10%;
                    justify-content: flex-end;
                    align-items: center;
                    div.edgtf-position-right-inner {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 0%;
                        a.edgtf-search-opener{
                            span.edgtf-search-opener-wrapper {
                                display: flex;
                                line-height: 18px;
                                    span.search-icon-box {
                                        background-color: $lt_blue;
                                        border-radius: 5px;
                                        display: flex;
                                        width: 18px;
                                        height: 18px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        i.edgtf-icon-font-awesome.fa.fa-search {
                                            color: #fff !important;
                                            font-size: 11px;
                                        }
                                        :before {

                                        }
                                    }
                                    span.edgtf-search-icon-text {
                                        color: $black !important;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                            }
                        }
                    }
                }
            }
        }
        .edgtf-sticky-header {
            .edgtf-sticky-holder {
            background-color: #fff !important;
            div.edgtf-vertical-align-containers {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                padding: 0 30px;
                div.edgtf-position-left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 15%;
                    flex-basis: 15%;
                    float: unset;
                    .edgtf-position-left-inner {
                        display: flex;
                    }
                }
                div.edgtf-position-center {
                    display: flex;
                    width: 70%;
                    flex-basis: 70%;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    .edgtf-position-center-inner {
                        display: flex;
                        width: 100%;
                        nav.edgtf-main-menu {
                            display: flex;
                            > ul {
                                display: flex;
                                justify-content: space-between;
                                > li {
                                float: unset;
                                display: flex;
                                    > a {
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: center;
                                    color: $black;
                                        > span.item_outer {
                                            padding: 0;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            -webkit-transform: translateY(0);
                                            -moz-transform: translateY(0);
                                            transform: translateY(0);
                                            top: 0;
                                            .item_text {
                                                display: flex;
                                            }
                                        }
                                    }
                                    .second {
                                        .inner {
                                            > ul {
                                                > li {
                                                    > a {
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li.edgtf-active-item {
                                    a.current {
                                    color: $elevar_blue;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-right {
                    display: flex;
                    width: 15%;
                    flex-basis: 15%;
                    justify-content: flex-end;
                    align-items: center;
                    .edgtf-position-right-inner{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 0%;
                        a.edgtf-search-opener{
                            span.edgtf-search-opener-wrapper {
                                display: flex;
                                line-height: 18px;
                                    span.search-icon-box {
                                        background-color: $lt_blue;
                                        border-radius: 5px;
                                        display: flex;
                                        width: 18px;
                                        height: 18px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        i.edgtf-icon-font-awesome.fa.fa-search {
                                            color: #fff !important;
                                            font-size: 11px;
                                        }
                                        :before {

                                        }
                                    }
                                    span.edgtf-search-icon-text {
                                        color: $black !important;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                            }
                        }
                    }
                }
            }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .edgtf-page-header {
        max-height: 135px;
        .edgtf-menu-area {
            height: 135px;
            padding: 0 30px;
            div.edgtf-vertical-align-containers {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                div.edgtf-position-left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 16%;
                    flex-basis: 16%;
                    float: unset;
                    .edgtf-position-left-inner {
                    display: flex;
                        .edgtf-logo-wrapper {
                            a {
                                max-height: 80px;
                                img.elevar-logo {
                                    aspect-ratio: unset;
                                    min-width: 149px;
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-center {
                    display: flex;
                    width: 76%;
                    flex-basis: 76%;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    .edgtf-position-center-inner {
                    display: flex;
                    width: 100%;
                        nav.edgtf-main-menu {
                        display: flex;
                            > ul {
                                display: flex;
                                justify-content: space-between;
                                > li {
                                float: unset;
                                display: flex;
                                    > a {
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: center;
                                    color: $black;
                                        > span.item_outer {
                                            padding: 0;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            -webkit-transform: translateY(0);
                                            -moz-transform: translateY(0);
                                            transform: translateY(0);
                                            top: 0;
                                            .item_text {
                                                display: flex;
                                            }
                                        }
                                    }
                                    .second {
                                        .inner {
                                            > ul {
                                                > li {
                                                    > a {
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li.edgtf-active-item {
                                    a.current {
                                    color: $elevar_blue;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-right {
                    display: flex;
                    width: 8%;
                    flex-basis: 8%;
                    justify-content: flex-end;
                    align-items: center;
                    div.edgtf-position-right-inner {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 0%;
                        a.edgtf-search-opener{
                            span.edgtf-search-opener-wrapper {
                                display: flex;
                                line-height: 18px;
                                    span.search-icon-box {
                                        background-color: $lt_blue;
                                        border-radius: 5px;
                                        display: flex;
                                        width: 18px;
                                        height: 18px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        i.edgtf-icon-font-awesome.fa.fa-search {
                                            color: #fff !important;
                                            font-size: 11px;
                                        }
                                        :before {

                                        }
                                    }
                                    span.edgtf-search-icon-text {
                                        color: $black !important;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                            }
                        }
                    }
                }
            }
        }
        .edgtf-sticky-header {
            .edgtf-sticky-holder {
            background-color: #fff !important;
            div.edgtf-vertical-align-containers {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                padding: 0 30px;
                div.edgtf-position-left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 16%;
                    flex-basis: 16%;
                    float: unset;
                    .edgtf-position-left-inner {
                        display: flex;
                    }
                }
                div.edgtf-position-center {
                    display: flex;
                    width: 76%;
                    flex-basis: 76%;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    .edgtf-position-center-inner {
                        display: flex;
                        width: 100%;
                        nav.edgtf-main-menu {
                            display: flex;
                            > ul {
                                display: flex;
                                justify-content: space-between;
                                > li {
                                float: unset;
                                display: flex;
                                    > a {
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: center;
                                    color: $black;
                                        > span.item_outer {
                                            padding: 0;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            -webkit-transform: translateY(0);
                                            -moz-transform: translateY(0);
                                            transform: translateY(0);
                                            top: 0;
                                            .item_text {
                                                display: flex;
                                            }
                                        }
                                    }
                                    .second {
                                        .inner {
                                            > ul {
                                                > li {
                                                    > a {
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li.edgtf-active-item {
                                    a.current {
                                    color: $elevar_blue;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-position-right {
                    display: flex;
                    width: 8%;
                    flex-basis: 8%;
                    justify-content: flex-end;
                    align-items: center;
                    .edgtf-position-right-inner{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 0%;
                        a.edgtf-search-opener{
                            span.edgtf-search-opener-wrapper {
                                display: flex;
                                line-height: 18px;
                                    span.search-icon-box {
                                        background-color: $lt_blue;
                                        border-radius: 5px;
                                        display: flex;
                                        width: 18px;
                                        height: 18px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        i.edgtf-icon-font-awesome.fa.fa-search {
                                            color: #fff !important;
                                            font-size: 11px;
                                        }
                                        :before {

                                        }
                                    }
                                    span.edgtf-search-icon-text {
                                        color: $black !important;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                            }
                        }
                    }
                }
            }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .edgtf-mobile-header .edgtf-mobile-header-inner div.edgtf-mobile-header-holder div.edgtf-grid {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .edgtf-mobile-header .edgtf-mobile-menu-opener .edgtf-mobile-opener-icon-holder span {
    font-size: 28px;
    }
    .edgtf-mobile-header .edgtf-mobile-nav {
        padding-bottom: 35px;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.35);
        background-color: #fafafa;
        border-bottom: 1px solid #d4d4d4;
    }
    .edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow {
        width: 50px;
        height: 57px;
        padding-right: 20px;
        line-height: 57px;
        font-size: 15px;
        box-sizing: border-box;
        color: #999;
    }
    .edgtf-mobile-header .edgtf-mobile-nav ul ul {
        margin-left: 20px;
    }
    .edgtf-mobile-header .edgtf-mobile-nav a {
        font-size: 13px;
        border-bottom: 1px dotted #ddd;
        letter-spacing: 0 !important;
        height: 57px;
        line-height: 38px;
        color: #333;
        font-weight: 500;
        letter-spacing: 1px !important;
    }
    .edgtf-mobile-header .edgtf-mobile-nav h6 {
        height: 57px;
        padding: 10px 0;
        font-size: 14px;
        line-height: 57px;
        color: #333 !important;
        border-bottom: 1px dotted #ddd;
        letter-spacing: 1px !important;
    }
}
@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 480px) {

}