@import "../base/colors";

.edgtf-progress-bar .edgtf-progress-number{
display: none!important;
}

.edgtf-post-content li {
font-family: raleway !important;
}
.edgtf-dark-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener:hover, .edgtf-dark-header .edgtf-top-bar .edgtf-search-opener:hover {
    color: #202020!important;
}