@import "../base/colors";
@import "../base/font";


/* ******* MOBILE FOOTER BAR START ******* */

@media only screen and (max-width: 768px) {
    div.bnav_bottom_nav_wrapper {
    z-index: 1000 !important;
    display: none !important;
        div.bnav_placeholder_outter_wrap {
            div.bnav_sub_menu_wrapper {

            }
        }
        div.bnav_main_menu_container {
            ul#menu-mobile-bottom-nav-bar {
                justify-content: space-around !important;
                padding: 0;
                height: 65px;
                padding: 0 2%;
                li.menu-item {
                    padding: 0;
                    margin: 0;
                    border: 1px solid #aaa;
                    border-radius: 3px;
                    height: 50px;
                    width: 50px;
                    a {
                        div.bnav_menu_items  {
                            div {
                                div.text_wrapper {
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    font-size: 10px;
                                    line-height: 10px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* ******* MOBILE FOOTER BAR END ******* */