@import "../base/colors";

/* ******* PENBANNER DESKTOP START ******* */
.edgtf-dark-header .edgtf-top-bar .widget span {
        color: $white !important;
}
.edgtf-top-bar {
    background-color: $elevar_purple !important;
    height: 50px !important;
    .edgtf-position-left {
        display: none !important;
    }
    .edgtf-position-right {
        display: none !important;
    }
    .edgtf-position-center {
        width: 100% !important;
    }
    .edgtf-position-center {
        div.textwidget.custom-html-widget {
                padding-left: 8%;
                padding-right: 8%;
        }
        h2.widgettitle {
            display: none !important;
        }
        div.penbanner-text {
            color: $white !important;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            a.yellow {
                color: $penbanner-orange !important;
                text-transform: uppercase;
                text-decoration: underline;
            }
            a.yellow:hover {
                color: $elevar_lt_blue !important;
            }
        }
    }

}
@media all and (max-width: 1400px) {
    .edgtf-top-bar {
        .edgtf-position-center {
            div.textwidget.custom-html-widget {
                    padding-left: 6%;
                    padding-right: 6%;
            }
        }
    }
}
@media all and (max-width: 1200px) {
    .edgtf-top-bar {
        .edgtf-position-center {
            div.textwidget.custom-html-widget {
                    padding-left: 0;
                    padding-right: 0;
            }
            div.penbanner-text {
                color: $white !important;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-weight: bold;
                line-height: 17px;
            }
        }
    }
}
@media all and (max-width: 1024px) {
    .edgtf-top-bar {
        height: 85px !important;
    }
}
@media all and (max-width: 768px) {
    .edgtf-top-bar {
        .edgtf-position-center {
            div.textwidget.custom-html-widget {
                padding-left: 3%;
                padding-right: 3%;
                div.penbanner-text {
                    color: $white !important;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
    .edgtf-top-bar {
        .edgtf-position-center {
            div.textwidget.custom-html-widget {
                padding-left: 0;
                padding-right: 0;
                div.penbanner-text {
                    color: $white !important;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
    .edgtf-top-bar {
        .edgtf-grid {
            width: 95%;
            .edgtf-position-center {
                div.textwidget.custom-html-widget {
                    padding-left: 0;
                    padding-right: 0;
                    div.penbanner-text {
                        color: $white !important;
                        font-family: 'Raleway', sans-serif;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 400px) {
    .edgtf-top-bar {
        .edgtf-grid {
            width: 93%;
            .edgtf-position-center {
                div.textwidget.custom-html-widget {
                    div.penbanner-text {
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 15px;
                    }
                }
            }
        }

    }
}
@media all and (max-width: 320px) {
    .edgtf-top-bar {
        .edgtf-grid {
            width: 95%;
                .edgtf-position-center {
                        div.textwidget.custom-html-widget {
                            padding-left: 0;
                            padding-right: 0;
                            div.penbanner-text {
                                font-size: 11px;
                                line-height: 14px;
                            }
                        }
                }
        }
    }
}
/* ******* PENBANNER DESKTOP END ******* */