@import "../base/colors";
@import "../base/font";

/* ************ SEARCH START ************ */
.edgtf-search-page-holder article .edgtf-post-title-area > h4 {
    text-transform: initial;
    letter-spacing: 0;
    line-height: 30px;
}
.edgtf-fullscreen-search-holder .edgtf-search-submit {
    font-family: 'ElegantIcons' !important;
}
.edgtf-search-page-holder {
    .edgtf-search-page-form {
            .edgtf-form-holder {
            position: relative;
            display: flex;
            width: 100%;
            vertical-align: middle;
            clear: both;
            div.edgtf-column-left {
                display: flex;
                flex: 4;
            }
            div.edgtf-column-right {
                display: flex;
                width: unset;
                text-align: center;
                flex: 1;
            }
        }
    }
}
.edgtf-pagination {
    background-color: $white;
    ul {
        li {
        margin: 0 12px;
            a {

            }
        }
    }
}
.edgtf-pagination ul li a,
.edgtf-pagination ul li.active span {
    background-color: #efefef;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    border: 0;
    border-radius: 100%;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.edgtf-pagination ul li a:hover,
.edgtf-pagination ul li.active span {
    color: $white;
    background-color: $elevar_purple;
}
.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-info > div.edgtf-post-info-author .edgtf-post-info-author-link {
    color: $lt_blue;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget) > h5 {
    margin: 0 0 29px;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget) > h5 {
    font-weight: 700;
    letter-spacing: 1px;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget) select {
        border-radius: 5px;
}
.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field {
    height: 54px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-info {
    font-size: 14px;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget) a {
    color: $elevar_blue;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_recent_entries .post-date {
    font-size: 15px;
    color: #333;
    font-weight: 700;
}
.edgtf-search-page-holder .edgtf-search-page-form {
    padding: 0 0 80px;
    margin: 0 0 80px;
    border-bottom: 1px solid #2b71b7;
}
.edgtf-search-page-holder article {
    padding: 0 0 80px;
    margin: 0 0 80px;
    border-bottom: 1px solid #2b71b7;
}
aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_pages ul li, aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_archive ul li, aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_categories ul li, aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_meta ul li, aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_nav_menu ul li, aside.edgtf-sidebar .widget:not(.edgtf-blog-list-widget).widget_recent_entries ul li {
    border-bottom: 1px solid #2b71b7;
    padding: 20px 0;
}
/* ************ SEARCH END ************ */