@import "blocks/mobile-navigation";

/* ==========================================================================
#Mobile header styles
========================================================================== */
.edgtf-mobile-header {
    display: none;
    position: relative;
    z-index: 101; //one more thatn the content

   /* #General mobile header styles
   ========================================================================== */
    .edgtf-mobile-header-inner {
        position: relative;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid $default-border-color;

        .edgtf-mobile-header-holder {
            position: relative;
            z-index: 2;
            height: 100%;
        }
    }

    .edgtf-grid {
        height: 100%;
    }

    .edgtf-vertical-align-containers {
        padding: 0;
    }

    /* #End of general mobile header styles
   ========================================================================== */

    /* #Mobile logo styles
    ========================================================================== */
    .edgtf-mobile-logo-wrapper a {
        display: block;
    }

    .edgtf-mobile-logo-wrapper img {
        height: 100%;
        width: auto;
    }
    /* #End of mobile logo styles
    ========================================================================== */

    /* #Mobile menu opener styles
    ========================================================================== */
    .edgtf-mobile-menu-opener {
        float: left;
        position: relative;
        z-index: 2;
        height: 100%;

        a {
            display: table;
            height: 100%;
            padding-right: 10px;
            font-size: 24px;
            color: $default-text-color;

            &:hover {
                color: $first-main-color;
            }
        }

        .edgtf-mobile-opener-icon-holder {
            display: table-cell;
            vertical-align: middle;

            span {
                display: block;
                line-height: inherit;

                &:before {
                    display: block;
                    line-height: inherit;
                }
            }
        }
    }
    /* #End of mobile menu opener styles
    ========================================================================== */
}

/* ==========================================================================
#End of mobile header styles
========================================================================== */

/* ==========================================================================
#Sticky mobile header styles
========================================================================== */
.edgtf-sticky-up-mobile-header {
    .edgtf-animate-mobile-header {
        .edgtf-mobile-header-inner {
            width: 100%;

			//Added left and right transition values because of sidearea transitions on open/close
			-webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			-moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			-o-transition: -o-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            @include edgtfTransform(translateY(-100%));
        }
    }

    .mobile-header-appear {
        .edgtf-mobile-header-inner {
            top: 0;
			left: 0;
            width: 100%;
            position: fixed;
            @include edgtfTransform(translateY(0));
        }
    }
}
/* ==========================================================================
#End of sticky mobile header styles
========================================================================== */