/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.big-images {

    .edgtf-big-image-holder {
        margin-bottom: 51px;
    }

    .edgtf-portfolio-media .edgtf-portfolio-single-media {
        margin-bottom: 38px;

        a, img {
            display: block;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .edgtf-portfolio-info-holder {
        margin-top: 58px;

        @include ipad-landscape {
            margin-top: 0;
        }
    }
}
/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */