/*We want to import them in the following order to maintain good scope and avoid conflicts during compilation*/
/*
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'base/normalize';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/hero';
@import 'components/pull-quote';

@import 'pages/home';
@import 'pages/contact';

*/

@import 'font';
@import "colors";

/*    GLOBAL NAV LOGO     */
@media all and (max-width: 1024px) {
  .edgtf-mobile-header .edgtf-mobile-logo-wrapper a {
    height: 4rem !important;
  }
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

/*
h1 {
  @include demi-bold($monts, 1.875);
}

h2 {
  @include demi-bold($opens, 1.75);
}
h3 {
  @include demi-bold($opens, 1.5);
}
h4 {
  @include demi-bold($opens, 1.3125);
}
h5 {
  @include demi-bold($opens, 1.125);
}

p {
  @include regular($opens, 1);
}
*/

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
/*  h1 {
    @include demi-bold($monts, 2.5);
  }
  h2 {
    @include demi-bold($opens, 2);
    line-height: 2.4rem !important;
  }
  h3 {
    @include demi-bold($opens, 1.875);
  }
  h4 {
    @include demi-bold($opens, 1.75);
  }
  h5 {
    @include demi-bold($opens, 1.312);
  }
  p {
    @include regular($opens, 1.125);
  }*/
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
