@import 'font';
@import "colors";

html {
	scroll-behavior: smooth;
}

/*    GLOBAL NAV LOGO     */
@media all and (max-width: 1024px) {
  .edgtf-mobile-header .edgtf-mobile-logo-wrapper a {
    height: 4rem !important;
  }
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}