$black: #000000;
$drk_blue: #043a60;
$drk_gray: #2f2f2f;
$drk_gray3: #333333;
$drop_shadow: #061336;
$elevar_blue: #2b71b7;
$elevar_purple: #524487;
$elevar_yellow: #f4c55c;
$formblue: #afe2f5;
$gray_section_bg: #eaeaea;
$lt_blue: #53c0ea;
$lt_blue_new: #7BC5EA;
$lt_gray: #ededed;
$magenta: #eb00ff;
$med_gray: #707070;
$orange: orange;
$penbanner-orange: #f4c55c;
$reviewgrey: #bcc0c4;
$white: #ffffff;
$links: #10c9c3;