$black: #000000;
$drk_blue: #043a60;
$drk_gray: #2f2f2f;
$drk_gray3: #333333;
$drop_shadow: #061336;
$elevar_blue: #2b71b7;
$elevar_blue2: #2f7ac5;
$elevar_blue3: #3283d3;
$elevar_blue4: #368be0;
$elevar_blue5: #3b95ef;
$elevar_purple: #524487;
$elevar_yellow: #f4c55c;
$formblue: #afe2f5;
$gray_section_bg: #eaeaea;
$lt_blue: #53c0ea;
$lt_blue_new: #7BC5EA;
$lt_gray: #ededed;
$lt_gray2: #eff0f1;
$magenta: #eb00ff;
$med_gray: #707070;
$med_gray2: #8D8D8D;
$orange: orange;
$penbanner-orange: #f4c55c;
$reviewgrey: #bcc0c4;
$white: #ffffff;
$links: #10c9c3;
$very_lt_gray1: #dddddd;
$med_gray3: #999999;
$black_opacity: rgba(0,0,0,0.5);

@mixin hero-drop-shadow {
    filter: drop-shadow(3px 3px 12px $drop_shadow);
};

@mixin drop-down-menu-shadow {
    box-shadow: 3px 3px 10px -6px $black_opacity;
    -webkit-box-shadow: 3px 3px 10px -6px $black_opacity;
    -moz-box-shadow: 3px 3px 10px -6px$black_opacity;
}