.edgtf-grid,
.edgtf-container-inner,
.edgtf-grid-section .edgtf-section-inner,
.edgtf-slider .carousel-inner .edgtf-slider-content-outer {

    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait;
    }
}

.edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
.edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {

    @include laptop-landscape {
        width: $grid-width-laptop-landscape-boxed;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape-boxed;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait-boxed;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape-boxed;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait-boxed;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait-boxed;
    }
}

@include ipad-landscape {

    body:not(.edgtf-slider-position-is-behind-header) .edgtf-content {
        margin-top: 0px !important;
    }

    body.edgtf-slider-position-is-behind-header.edgtf-slider-is-active .edgtf-content {
        margin-top: 0px !important;
    }

    .edgtf-content {

        .edgtf-two-columns-66-33 > .edgtf-column1,
        .edgtf-two-columns-66-33 > .edgtf-column2,
        .edgtf-two-columns-33-66 > .edgtf-column1,
        .edgtf-two-columns-33-66 > .edgtf-column2,
        .edgtf-two-columns-75-25 > .edgtf-column1,
        .edgtf-two-columns-75-25 > .edgtf-column2,
        .edgtf-two-columns-25-75 > .edgtf-column1,
        .edgtf-two-columns-25-75 > .edgtf-column2,
        .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner > .edgtf-column,
        .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner > .edgtf-column,
        .edgtf-three-columns > .edgtf-three-columns-inner > .edgtf-column,
        .edgtf-four-columns > .edgtf-four-columns-inner > .edgtf-column,
        .edgtf-five-columns > .edgtf-five-columns-inner > .edgtf-column {
            width: 100%;
        }

        .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner,
        .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner,
        .edgtf-three-columns > .edgtf-three-columns-inner,
        .edgtf-four-columns > .edgtf-four-columns-inner,
        .edgtf-five-columns > .edgtf-five-columns-inner {
            margin: 0;
        }

        .edgtf-two-columns-66-33 > .edgtf-column1 > .edgtf-column-inner,
        .edgtf-two-columns-66-33 > .edgtf-column2 > .edgtf-column-inner,
        .edgtf-two-columns-33-66 > .edgtf-column1 > .edgtf-column-inner,
        .edgtf-two-columns-33-66 > .edgtf-column2 > .edgtf-column-inner,
        .edgtf-two-columns-75-25 > .edgtf-column1 > .edgtf-column-inner,
        .edgtf-two-columns-75-25 > .edgtf-column2 > .edgtf-column-inner,
        .edgtf-two-columns-25-75 > .edgtf-column1 > .edgtf-column-inner,
        .edgtf-two-columns-25-75 > .edgtf-column2 > .edgtf-column-inner,
        .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner > .edgtf-column > .edgtf-column-inner,
        .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner > .edgtf-column > .edgtf-column-inner,
        .edgtf-three-columns > .edgtf-three-columns-inner > .edgtf-column > .edgtf-column-inner,
        .edgtf-four-columns > .edgtf-four-columns-inner > .edgtf-column > .edgtf-column-inner,
        .edgtf-five-columns > .edgtf-five-columns-inner > .edgtf-column > .edgtf-column-inner {
            padding: 0;
        }
    }
}

@media only screen and (min-width: $ipad-portrait-plus-pixel) and (max-width: $ipad-landscape) {

    footer .edgtf-footer-top-holder .edgtf-column {
        width: 50%;

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 30px;
        }

        &:nth-child(3) {
            clear: both;
        }
    }
}

@include ipad-portrait {
    .edgtf-two-columns-66-33 > .edgtf-column1,
    .edgtf-two-columns-66-33 > .edgtf-column2,
    .edgtf-two-columns-33-66 > .edgtf-column1,
    .edgtf-two-columns-33-66 > .edgtf-column2,
    .edgtf-two-columns-75-25 > .edgtf-column1,
    .edgtf-two-columns-75-25 > .edgtf-column2,
    .edgtf-two-columns-25-75 > .edgtf-column1,
    .edgtf-two-columns-25-75 > .edgtf-column2,
    .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner > .edgtf-column,
    .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner > .edgtf-column,
    .edgtf-three-columns > .edgtf-three-columns-inner > .edgtf-column,
    .edgtf-four-columns > .edgtf-four-columns-inner > .edgtf-column,
    .edgtf-five-columns > .edgtf-five-columns-inner > .edgtf-column,
    .edgtf-comment-form .edgtf-three-columns .edgtf-column,
    .edgtf-three-columns.edgtf-contact-form-layout .edgtf-column {
        width: 100%;
    }

    .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner,
    .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner,
    .edgtf-three-columns > .edgtf-three-columns-inner,
    .edgtf-four-columns > .edgtf-four-columns-inner,
    .edgtf-five-columns > .edgtf-five-columns-inner,
    .edgtf-comment-form .edgtf-three-columns > .edgtf-three-columns-inner,
    .edgtf-three-columns.edgtf-contact-form-layout > .edgtf-three-columns-inner {
        margin: 0;
    }

    .edgtf-two-columns-66-33 > .edgtf-column1 > .edgtf-column-inner,
    .edgtf-two-columns-66-33 > .edgtf-column2 > .edgtf-column-inner,
    .edgtf-two-columns-33-66 > .edgtf-column1 > .edgtf-column-inner,
    .edgtf-two-columns-33-66 > .edgtf-column2 > .edgtf-column-inner,
    .edgtf-two-columns-75-25 > .edgtf-column1 > .edgtf-column-inner,
    .edgtf-two-columns-75-25 > .edgtf-column2 > .edgtf-column-inner,
    .edgtf-two-columns-25-75 > .edgtf-column1 > .edgtf-column-inner,
    .edgtf-two-columns-25-75 > .edgtf-column2 > .edgtf-column-inner,
    .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner > .edgtf-column > .edgtf-column-inner,
    .edgtf-two-columns-50-50-small > .edgtf-two-columns-50-50-inner > .edgtf-column > .edgtf-column-inner,
    .edgtf-three-columns > .edgtf-three-columns-inner > .edgtf-column > .edgtf-column-inner,
    .edgtf-four-columns > .edgtf-four-columns-inner > .edgtf-column > .edgtf-column-inner,
    .edgtf-five-columns > .edgtf-five-columns-inner > .edgtf-column > .edgtf-column-inner,
    .edgtf-comment-form .edgtf-three-columns .edgtf-column .edgtf-column-inner,
    .edgtf-three-columns.edgtf-contact-form-layout .edgtf-column .edgtf-column-inner {
        padding: 0;
    }
}

@include smaller-phone-portrait {
    .edgtf-section-inner-margin {
        margin-left: 0px;
        margin-right: 0px;
    }
}