
@media only screen and (max-width: $ipad-portrait) {
    .edgtf-instagram-feed.edgtf-col-9 li,
    .edgtf-instagram-feed.edgtf-col-6 li {
        width: 33.33%;
    }
}

@media only screen and (max-width: $phone-portrait) {
    .edgtf-instagram-feed.edgtf-col-4 li,
    .edgtf-instagram-feed.edgtf-col-3 li,
    .edgtf-instagram-feed.edgtf-col-6 li,
    .edgtf-instagram-feed.edgtf-col-9 li {
        width: 50%;
    }
}