/* ==========================================================================
   Progress bar shortcode start styles
   ========================================================================== */
.edgtf-progress-bar {
    @include edgtfRelativeHolderLayout();

    .edgtf-progress-title-holder {
        position: relative;
        margin: 5px 0 16px;

        .edgtf-progress-title {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            z-index: 100;
        }
    }

    .edgtf-progress-number-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        text-align: right;
        opacity: 0;
        z-index: 10;

        .edgtf-progress-number {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            float: right;
            font-weight: inherit;
            text-align: center;
            padding: 0 4px;

            .edgtf-percent {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                margin: 3px 0;

                &:after {
                    content: '%';
                    font-size: 1em;
                    margin-left: 1px;
                }
            }
        }
    }

    .edgtf-progress-content-outer {
        position: relative;
        height: 9px;
        overflow: hidden;
        background-color: $default-border-color;
        @include edgtfBorderRadius(5px);

        .edgtf-progress-content {
            height: 9px;
            max-width: 100%;
            overflow: hidden;
            background-color: $default-heading-color;
        }
    }
}

/* ==========================================================================
   Progress bar shortcode end styles
   ========================================================================== */