/* ==========================================================================
   Section Title shortcode styles - start
   ========================================================================== */

.edgtf-st{
    @include edgtfRelativeHolderLayout();

    .edgtf-st-title-holder{

        .edgtf-st-title{
            margin: 0;
        }

    }
    .edgtf-separator{
        width: 100px;
        border-bottom-width: 1px;
        border-color: transparent;
    }
    .edgtf-st-text-holder{
        font-size: 16px;
        line-height: 1.875em;
    }
}

/* ==========================================================================
   Section Title shortcode styles - end
   ========================================================================== */


