
/*    ASCO 2023   */
#form-container-row {
  padding: 40px 0;

  h4 {
    font-size: 20px;
    color: $drk_blue;
  }
  p {
    font-size: 18px;
  }

  form {
    fieldset {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 20px 0 0;

      .input {
        margin-right: 0;

        input,
        select {
          width: 100%;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 12px 10px;
          border: 1px solid #707070;
        }
      }

      select {
        // A reset of styles, including removing the default dropdown arrow
        appearance: none;
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
      }

      .hs-dependent-field,
      .hs_location,
      .hs_i_would_like_to_request_ {
        .hs-input {
          width: 100%;
          min-width: 15ch;
          max-width: 30ch;
          border: 1px solid var(--select-border);
          border-radius: 0.25em;
          padding: 0.25em 0.5em;
          font-size: 1.25rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #fff;
          background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        }
      }

    }

    .hs_firstname {
      width: 45%;
    }
    .hs_lastname {
      width: 45%;
    }
    fieldset:nth-child(2),
    fieldset:nth-child(3) {
      width: 45%;
    }
    fieldset:nth-child(2) {
      float: left;
    }

    fieldset:nth-child(3) {
      float: right;
    }
    fieldset:nth-child(4) {
      clear: both;
    }

    .hs-dependent-field {

    }

    .hs_email {
      width: 100%;
    }

    .hs_phone {

    }

    .hs_location {

    }
    .hs_i_would_like_to_request_ {

    }
    .hs_schedule_a_meeting_with_us_at_asco {

    }
    .hs_by_subscribing__you_agree_to_our_terms_and_conditions_and_privacy_policy_and_understand_that_you_ar {

    }
    .hs_recaptcha {

    }
    .hs_submit {

    }

  }
}


/*   END  ASCO 2023   */