@import "../base/colors";
@import "../base/font";

/* ******* 2023 PAGE COMMON STYLING ******* */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: $elevar_blue;
    text-transform: uppercase;
}
h1,h2 {
    font-weight: 700;
}
h4 {
    font-weight: 800;
}
h3,h5,h6 {
    font-weight: 600;
}
h1, h1.elevar-h1 {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 3.5px;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}
h1, h1.elevar-heading {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 3.5px;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}
h2, h2.elevar-h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 2.5px;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
h3, h3.elevar-h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
h4, h4.elevar-h4 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 2px;
    margin-top: 1.25% !important;
    margin-bottom: 1.25% !important;
}
h5, h5.elevar-h5 {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1.75px;
    margin-top: 1.75% !important;
    margin-bottom: 1.75% !important;
}
h6, h6.elevar-h6 {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 1.5px;
    margin-top: 1.5% !important;
    margin-bottom: 1.5% !important;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: $links;
}
p, p.elevar-p {
    color: $drk_gray3;
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 25px;
    br:not(.line-break) {
        display: none;
    }
}
li, li.elevar-p {
    color: $drk_gray3;
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 5px;
        br:not(.line-break) {
            display: none;
        }
}
p.elevar-p.center {
    text-align: center !important
}
.elevar-p.eoe-copy {
    font-style: italic;
}
input, textarea, select {
    color: $drk_gray3 !important;
    border-color: $reviewgrey !important;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
}
br.line-break {
    display: block;
}
div.cta-row {
    position: relative;
    top: 2px;
    div.cta-text-block {
        position: absolute;
        top: 0;
        right: 5vw;
        a.cta-hero-button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 54px;
            padding: 0;
            border-radius: 0 0 10px 10px;
            background: $elevar_purple;
            color: $white !important;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            border: 1px solid $elevar_purple;
            transition: all 0.5s;
            &:hover {
                background: $white;
                color: $elevar_purple !important;
                border: 1px solid $elevar_purple;
                transition: all 0.5s;
            }
        }
    }
}
div.hero-row {
    height: 100%;
    background-position: center top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    bottom: -1px;
    padding-top: 23.80%;
        div.clearfix.edgtf-full-section-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        div.wpb_column {
            padding-left: 10%;
            padding-right: 10%;
            div.elevar-h1header {
            h1 {
                color: $white;
                margin: 0 auto 20px auto;
                text-align: center;
                line-height: 48px;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                }
                .drop-shadow {
                    filter: drop-shadow(3px 3px 12px #061336);
                }
            }
            div.elevar-h2header {
                h2 {
                    color: $white;
                    text-align: center;
                    margin-bottom: 0 !important;
                    margin-top: 20px !important;
                }
                .drop-shadow {
                    filter: drop-shadow(3px 3px 12px #061336);
                }
            }
        }

        }
    + .elevar-section {
        padding: 50px 0 0px 0 !important;
    }
}
@media all and (max-width: 1024px) {
    h1, h1.elevar-h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 2px;
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }
    h2, h2.elevar-h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 2px;
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }
    h3, h3.elevar-h3 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2px;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
    h4, h4.elevar-h4 {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 2px;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    h5, h5.elevar-h5 {
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 1px;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    h6, h6.elevar-h6 {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1px;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    p, p.elevar-p {
        margin-bottom: 20px;
    }
    div.hero-row {
        height: 100%;
        background-position: center top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        bottom: -1px;
        padding-top: 29.95%;
            div.clearfix.edgtf-full-section-inner {
                position: absolute;
                width: 100%;
                top: 25%;
                left: 50%;
                transform: translate(-50%, -25%);
            div.wpb_column {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }
}
@media all and (max-width: 768px) {
    p, p.elevar-p {
        margin-bottom: 15px;
    }
    div.hero-row {
        height: 100%;
        background-position: center top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        bottom: -1px;
        padding-top: 29.95%;
            div.clearfix.edgtf-full-section-inner {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            div.wpb_column {
                padding-left: 10%;
                padding-right: 10%;
            }

        }
    }
}
@media all and (max-width: 576px) {
    h2, h2.elevar-h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1.75px;
        margin-bottom: 4% !important;
    }
    p, p.elevar-p {
        margin-bottom: 10px;
    }
    div.hero-row {
        height: 100%;
        background-position: center top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        bottom: -1px;
        padding-top: 97.83%;
            div.clearfix.edgtf-full-section-inner {
            position: absolute;
            width: 100%;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
            div.wpb_column {
                padding-left: 10%;
                padding-right: 10%;
            }

        }
    }
}
@media all and (max-width: 480px) {
    div.hero-row {
        height: 100%;
        background-position: center top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        bottom: -1px;
        padding-top: 97.83%;
            div.clearfix.edgtf-full-section-inner {
            position: absolute;
            width: 100%;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -75%);
            div.wpb_column {
                padding-left: 10%;
                padding-right: 10%;
            }

        }
    }
}
/* ******* END 2023 PAGE COMMON STYLING ******* */