@import "../base/colors";
@import "../base/font";

/* ******* 2023 PAGE COMMON STYLING ******* */
h1.elevar-h1 {
    color: $elevar_blue;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    font-weight: 700;
}
h2.elevar-h2 {
    color: $elevar_blue;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
    text-transform: initial;
    font-weight: 600;
}
h3.elevar-h3 {
    color: $elevar_blue;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 2px;
    font-weight: 700;
}
h4.elevar-h4 {
}
h5.elevar-h5 {
}
h6.elevar-h6 {
}
p.elevar-p {
    color: $drk_gray3;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0;
}
div.hero-row {
    height: 100%;
    background-position: center top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    bottom: -1px;
    padding-top: 23.80%;
        div.clearfix.edgtf-full-section-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        div.wpb_column {
            padding-left: 10%;
            padding-right: 10%;
            div.elevar-h1header {
            h1 {
                color: $white;
                text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
                margin: 0 auto 20px auto;
                }
            }
            div.elevar-h2header {
                h2 {
                    color: $white;
                    text-shadow: 3px 3px 5px rgba(0,0,0,0.75);
                }
            }
        }

    }
}

/* ******* END 2023 PAGE COMMON STYLING ******* */