
@import "../base/colors";

/*  HOME PAGE   */

/*  CAREERS 2023 BillieMead   */

.page-id-17194 div.edgtf-title {
  z-index: 100 !important;
}
.page-id-17194 .edgtf-grid-section .edgtf-section-inner {
  width: 1397px;
}
#careers_hero_row {
  h1 {
    color: $white;
    border-bottom: 3px solid $white;
    width: 260px;
    padding-bottom: 15px;
    letter-spacing: 4.5px;
    margin: 0 auto;
    line-height: 1.2em;
    font-size: 45px !important;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 5px #000);
    top: 0;
  }
  #careers-subtitle {
    h3 {
        margin-top: 20px;
        color: $white;
        font-size: 30px;
        font-weight: 600;
        filter: drop-shadow(0px 0px 4px #000);
    }
  }
}
#icon-row3 {
  .edgtf-section .edgtf-full-section-inner {
    max-width: 1100px;
  }
}
/* #icon-row3 > div > div.wpb_column.vc_column_container.vc_col-sm-12 > div {
  padding-left: 0;
} */
#open-positions-cta {
  width: 329px;
  position: absolute;
  top: 0;
  right: 10vw;
  z-index: 102;
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  p {
    margin: 0;
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 305px;
    font-size: 20px;
    line-height: 32px;
    height: 54px;
    padding: 0 12px;
    border-radius: 0 0 6px 6px;
    background: $lt_blue;
    color: $white !important;
    &:hover {
      background: $white;
      color: $lt_blue !important;
      border: 1px solid $lt_blue;
    }
  }
}
#mission-statement,
#core-values,
#our-purpose,
#what-we-offer,
#careers-paylocity-row {
  h2.careers-blue-headings  {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2em;
    color: $elevar_blue;
    text-transform: uppercase;
  }
  p.careers-paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #2f2f2f;
    font-weight: 500;
    margin-top: 20px;
  }
  p.careers-paragraph.bold {
    font-size: 22px;
    font-weight: bold;
    line-height: 2rem;
    color: #2f2f2f;
    margin-top: 20px;
  }
}
.edgtf-iwt:not(.edgtf-iwt-left-from-title):not(.edgtf-iwt-icon-top-with-separator) .edgtf-iwt-title-holder {
  margin-bottom: 0 !important;
}
.icon-topbox.vc_column_container {
  display: flex;
  padding: 1%;

}
.icon-topbox.vc_column_container:nth-child(odd) {
  justify-content: end;
}
.icon-topbox.vc_column_container:nth-child(even) {
  justify-content: flex-start;
}
.icon-topbox {

  div.vc_column-inner {
    max-width: 600px;
    max-height: 225px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    padding: 0;
  }
  .edgtf-iwt.edgtf-iwt-icon-left {
    display: flex;
    height: 100%;
  }
  .edgtf-iwt-icon-holder {
    display: inline-flex;
    width: 40%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    float: unset !important;
  }
  .edgtf-iwt-content-holder {
    display: inline-flex;
    width: 45%;
    padding: 0 !important;
    flex-direction: column;
    justify-content: center;
  }
  .wpb_wrapper {
    height: 100%;
    width: 100%;
  }
  h5 {
    color: $white;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5em;
    letter-spacing: 0;
  }
  p {
    color: $white;
    font-weight: 400;
    font-size: 18px;
    line-height: 2rem;
  }
  .career-icon2 {
    p {
      width: 65%;
    }
  }
}
#bottombox1 {
  justify-content: flex-start;
}
#bottombox2 {
  justify-content: center;
}
#bottombox3 {
  justify-content: flex-end;
}
#bottombox3 {
  .edgtf-iwt-content-holder {
    width: 80%;
    margin: 0 auto;
  }
}
.icon-bottombox {
  display: flex;
  div.vc_column-inner {
    max-width: 350px;
    min-height: 381px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    padding: 0;
    margin-right: 20px;
  }
  .wpb_wrapper {
    height: 100%;
    width: 100%;
  }
  .edgtf-iwt.edgtf-iwt-icon-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .edgtf-iwt-icon-holder {
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    float: unset !important;
    margin: 0 auto !important;
    height: 60%;
  }
  .edgtf-iwt-content-holder {
    display: inline-flex;
    width: 85%;
    padding: 0 !important;
    justify-content: center;
    height: 40%;
  }
  h5 {
    color: $white;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0;
  }
}
#colored-healthcare-button {
  border-radius: 20px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 75px;
  background-color: #524487;
  p {
    margin: 0;
    padding: 0;
    height: 48px;
    text-align: center;
  a {
    font-size: 22px;
    color: $white;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-decoration: underline;
    font-weight: bold;
    line-height: 22px;
      img {
        display: inline-flex;
        margin: 0; margin-right: 20px;
      }
    }
  }
}
#careers-paylocity-row {
  h4.eoe-headline {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.5em;
    color: $lt_blue;
    letter-spacing: -0.25px;
    margin: 0;
  }
  p.eoe-copy {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 2rem;
    color: #8D8D8D;
    font-style: italic;
    letter-spacing: -0.5px;
    margin-top: 15px;
  }
  a.recruiting-email {
    color: $elevar_blue;
  }
}

div.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 62.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  background-color: $white;
  margin: 0 auto;
}
iframe.paylocity-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $white;
}

/*    ASCO 2023 PAGE    */
.page-id-16965 {
  footer {
    display: none;
  }
}

#temp-footer-row {
  background: $lt_blue;
  padding: 0 0 40px;
  #temp-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .footer-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      p {
        margin: 0;
      }
    }
    .copy-right-line {
      color: $white;
    }
    #bottom-links {
      color: $white;
    }
  }
}

#asco_23_hero_row {
  h1 {
    text-transform: uppercase;
  }
  h1, h3 {
    color: $white;
    font-weight: 600;
  }
  #visit-us-subtitle {
    margin: -20px 0 0 !important;
  }
  #address-line {
    a {
      font-size: 20px;
      color: $white;
      border-bottom: 1px solid $white;
      padding: 0 0 2px;
      .sm_logo_icon {
        display: inline-block;
        height: 100%;
        width: 40px;
        /*background: url(/wp-content/themes/conall-child/dist/images/elevar_logo_sm.png) no-repeat center center;*/
        background: url(/wp-content/themes/conall-child/dist/images/Map-Icon.svg) no-repeat center center;
      }
    }
  }
  #visit-us-subtitle {
    h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .map-ping {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 0 0 15px;
        background: url(/wp-content/uploads/2023/05/place_Icon.png) no-repeat center center;
      }
    }
  }
  .edgtf-btn {
    border-radius: 6px;
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 500 !important;
  }
}

#map-popup_section {

  display: none;

  background-image: url(/wp-content/uploads/2023/04/Map-Popup.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  #close-map-icon {
    width: 50px;
    height: 50px;
    background: url(/wp-content/themes/conall-child/dist/images/Close-Icon.png);
    background-size: cover;
    position: absolute;
    top: 10vh;
    right: 5vw;
  }
}

#spotlight-row {
  display: block !important;
  background: $white;
  padding: 40px 0 60px;
}

@media all and (max-width: 1024px) {
  #map-popup_section {
    background-image: url(/wp-content/uploads/2023/04/map_mobi.png);
    height: 100vh;
  }
}

#spotlight-row {

  background: $white;
  padding: 40px 0 60px;

  h4 {
    font-size: 28px;
    color: $drk_blue;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    color: $drk_gray;
  }
  #spotlight-body {
    margin: 20px 0 0 -15px;
    .edgtf-btn {
      border-radius: 6px;
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: 600 !important;
    }
  }

  #play-btn {
    width: 200px;
    background: $lt_blue;
    margin: 20px 0 0;
    text-align: center;
    border: 2px solid $lt_blue;
    border-radius: 6px;
    background: $lt_blue;
    &:hover {
      background: $white;
      a {
          color: $lt_blue;
      }
    }
    a {
      display: block;
      color: $white;
      font-weight: 600;
      font-size: 20px;
      height: 100%;
      padding: 10px;
      text-align: center;
      &:hover {
        color: $lt_blue;
      }
    }
  }

}

#spacer-row {

  padding: 40px 0 60px;
  background: $white;

  h4 {
    font-size: 28px;
    color: $drk_blue;
    font-weight: 600;
  }

  .spacer-title {
    margin: 0 0 0 -15px;
  }

  #dates-cols-row {
    margin-top: 20px;
    .edgtf-full-section-inner {
      position: relative;
      .wpb_column:first-child {
        .vc_column-inner {
          padding: 0 40px 0 0;
        }
      }
      .wpb_column:first-child:after {
        content: '';
        width: 1px;
        height: 90%;
        background: $drk_gray;
        position: absolute;
        top: 10%;
        right: 20px;
      }
    }

    h5 {
      font-size: 22px;
      color: $drk_blue;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: $drk_gray;
    }
  }
}

@media all and (max-width: 1024px) {
  #spacer-row {
    h4 {
      text-align: center;

    }
    #dates-cols-row {
      margin-right: 0;
      margin-left: 0;
      padding: 0 20px !important;
    }
  }

  #dates-cols-row .edgtf-full-section-inner .wpb_column:first-child:after {
    display: none;
  }

  #map-popup_section {
    margin: 0;
  }

}

#elevar-ppl-row {
  /*hide row*/
  display: none;
  
  height: 565px;
  background-image: url(/wp-content/uploads/2023/05/blue-bg-w-wings.png);
  background-repeat: no-repeat;
  background-size: 133%;
  background-position: top right;
  .wpb_text_column:first-child {
    margin: 40px 0 !important;

    h3 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
    }
  }
  #imgs-block {
    .edgtf-full-section-inner {
      .wpb_column:nth-child(2),
      .wpb_column:nth-child(3) {
        .wpb_wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          .wpb_text_column {


            color: $white !important;
            padding: 0 20px 40px;
            h4 {
              color: $white !important;
              font-size: 26px;
              width: 100%;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

#future-events-row {
  height: 350px;
  padding: 40px 0 0;
  background-position:
    bottom 0 left 0,
    center center !important;
  background-size:
    100%,
    cover !important;
  background-repeat: no-repeat !important;
  background-image:
    url(/wp-content/uploads/2021/11/Elevar_Blue_Wave_Footer_5000px_wide_rev2.png),
    url(/wp-content/uploads/2023/04/Footer_DT.png);

  #future-events-row-title {
    h4 {
      color: $white;
      font-size: 24px;
      font-weight: 500;
      margin: 20px 0 30px;
    }
  }

  #future-events-row-info-blocks {
    p {
      color: $white;
      font-size: 17px;
      .date-in-barca {
        color: $magenta;
      }
    }
    a {
      color: $white;
      text-decoration: underline;
    }
    .edgtf-full-section-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

}

#mosaic-row {
  padding: 40px;
  background: $lt_gray;

  .vc_col-sm-8 {
    .vc_column-inner {
      padding: 0;
    }
  }
  .edgtf-full-section-inner {
    .wpb_column:first-child {
      .wpb_wrapper {
        padding: 0 40px 0 0;
      }
    }
  }

  h4 {
    font-size: 24px;
    color: $drk_blue;
    font-weight: 600;
    margin: 20px 0 30px;
  }

  p {
    font-size: 18px;
    color: $drk_gray;
    font-weight: 500;
  }
}

#book-meeting-cta {
  /*width: 282px;*/
  position: absolute;
  top: 0;
  right: 5vw;
  p {
    margin: 0;
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*width: 282px;*/
    height: 54px;
    padding: 0 12px;
    border-radius: 0 0 6px 6px;
    background: $lt_blue;
    color: $white !important;
    &:hover {
      background: $white;
      color: $lt_blue !important;
      border: 1px solid $lt_blue;
    }
  }
}

@media all and (max-width: 1340px) {
  #book-meeting-cta {
    position: relative;
    width: 390px;
    margin: 0 auto;
    top: inherit;
    right: inherit;

  }
}


/*hide date and address*/
#visit-us-subtitle,
#address-line {
  display: none;
}

/*   END ASCO 2023 PAGE    */

/*** Responsive Styles Standard Desktop Only - bmead I merged media queries where I could ***/

@media all and (min-width: 767px) {
  #asco_23_hero_row {
    height: 336px;
    background-position:
      bottom 0 left 0,
      center center !important;
    background-size:
      100%,
      cover !important;
    background-repeat: no-repeat !important;
    background-image:
      url(/wp-content/uploads/2023/05/Hero_white_wave.png),
      url(/wp-content/uploads/2023/04/Hero_DT.png);
  }
  #careers_hero_row {
    height: 457px;
    background-position: bottom 0 left 0 !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url(/wp-content/uploads/2023/05/career-page-header-1921x458-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 1100px) {

}

@media all and (min-width: 1200px) {
    #icon-row3 {
      margin-left: 5%;
      margin-right: 5%;
  }
}

/**** Billie Careers page ****/
@media all and (max-width: 1475px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 1197px;
  }
  .icon-topbox { 
    p {
      width: 90%;
    }
  }
}
@media all and (max-width: 1200px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 950px;
  }
  .edgtf-iwt:not(.edgtf-iwt-left-from-title):not(.edgtf-iwt-icon-top-with-separator) .edgtf-iwt-title-holder {
    margin-bottom: 10px !important;
  }
  .icon-topbox {
    .edgtf-iwt-icon-holder {
      img {
        max-width: 80%;
      }
    }
    h5 {
      font-size: 25px;
      line-height: 28px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .icon-bottombox {
    div.vc_column-inner {
      margin: 2%;
    }
    h5 {
      font-size: 25px;
      line-height: 28px;
      letter-spacing: 0;
    }
    .edgtf-iwt-icon-holder {
      img {
        max-width: 80%;
      }
    }
  }
}
@media all and (max-width: 1170px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 900px;
  }
}
@media all and (max-width: 1024px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 768px;
  }
  .edgtf-iwt:not(.edgtf-iwt-left-from-title):not(.edgtf-iwt-icon-top-with-separator) .edgtf-iwt-title-holder {
    margin-bottom: 2px !important;
  }
  .icon-topbox {
    .edgtf-iwt-icon-holder {
      img {
        max-width: 75%;
      }
    }
    h5 {
      font-size: 25px;
      line-height: 28px;
      letter-spacing: 0;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      padding: 0;
      margin: 0;
      width: 88%;
    }
    .edgtf-iwt-content-holder {
      width: 75%;
    }
  }
  .icon-bottombox {
    div.vc_column-inner {
      margin: 3%;
      min-height: 240px;
      padding: 8px;
      padding-top: 0;
    }
    h5 {
      font-size: 25px;
      line-height: 28px;
      letter-spacing: 0;
    }
    .edgtf-iwt-icon-holder,
    .edgtf-iwt-content-holder {
      height: 50%;
      padding: 7%;
    }
    .edgtf-iwt-content-holder {
      width: 98%;
    }
    .edgtf-iwt-icon-holder {
      width: 88%;
      img {
        max-width: 50%;
      }
    }
  }
  #colored-healthcare-button a {
    font-size: 18px;
}
  #future-events-row {

    #future-events-row-title {
      .edgtf-full-section-inner {
        .wpb_column:first-child {
          display: none;
        }
        .wpb_column:nth-child(2) {
          width: 100%;
          text-align: center;
        }
      }
    }

    #future-events-row-info-blocks {
      .edgtf-full-section-inner {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .wpb_column:nth-child(1),
        .wpb_column:nth-child(4) {
          display: none;
        }
        .wpb_column:nth-child(2),
        .wpb_column:nth-child(3) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  #book-meeting-cta {
    position: relative;
    width: 282px;
    margin: 0 auto;
    top: inherit;
    right: inherit;

  }
  #open-positions-cta {
    position: relative;
    width: 329px;
    margin: 0 auto;
    top: 0;
    right: inherit;

  }
  #careers_hero_row {
    top: -54px;
  }
}
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  #elevar-ppl-row {
    height: auto;
    background-image: none;
    background-color: $drk_blue;
  }
  .icon-topbox {
    div.vc_column-inner {
      min-height: 133px;
    }
    p {
      width: 90%;
      font-size: 15px;
      line-height: 22px;
      margin-top: 6px;
    }
  }
  .icon-bottombox {
    div.vc_column-inner {
      min-height: 250px;
    }
  }
  .edgtf-iwt.edgtf-iwt-icon-left {
    text-align: center;
  }
  .edgtf-iwt.edgtf-iwt-icon-top {
    text-align: center;
  }
  .icon-topbox.vc_column_container:nth-child(odd) {
    justify-content: center;
  }
  .icon-topbox.vc_column_container:nth-child(even) {
    justify-content: center;
  }
  .icon-bottombox.vc_column_container {
    justify-content: center;
  }
  #colored-healthcare-button {
    margin-top: 8px;
    padding:10px 20px;
    a {
      text-align: left;
      padding-left: 10px;
    }
  }
  #bottombox3 .vc_column_container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 768px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 600px;
  }
  #colored-healthcare-button {
    border-radius: 10px!important;
    min-height: 55px;
    max-width: 600px;
    margin-left: 0;
/*     padding: 0 20px;
  }
  p {
    height: 66px; */
  }
  .icon-topbox {
    p {
      width: 93%;
    }
    .edgtf-iwt-icon-holder img {
      max-width: 62.5%;
    }
    .edgtf-iwt-title-holder {
      margin-bottom: 3px;
    }
  }
}

/**** Billie Careers page ****/
@media all and (max-width: 767px) {
  #spotlight-row {
    padding: 0 0 20px 15px !important;
    #play-btn {
      margin: 20px auto 0 !important;
    }
  }
  #mosaic-row {
    padding: 40px 40px 0;
    .edgtf-full-section-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .wpb_single_image {
        text-align: center;
      }
      .wpb_column:first-child {
        .wpb_wrapper {
          padding: 0;
        }
      }
      .wpb_column:nth-child(2) {
        -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
        order: -2;
        .vc_column-inner {
          padding: 0;
        }
      }
    }
  }
  #careers_hero_row {
    height: 457px;
    background-repeat: no-repeat !important;
    background-image: url(/wp-content/themes/conall-child/dist/images/elevar-careers-header-MOB-414x475-1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #careers-subtitle h3 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .icon-topbox {
    .edgtf-iwt.edgtf-iwt-icon-left {
      flex-direction: column;
      justify-content: center;
    }
    .edgtf-iwt-icon-holder {
      width: 100%;
      display: inline-flex;
/*       aspect-ratio: 2/1; */
      align-items: center;
    }
    .edgtf-iwt-content-holder {
      display: flex;
      align-items: center;
      width: 88%;
      margin: 0 auto;
    }
    div.vc_column-inner {
      max-width: 600px;
      max-height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-size: 100% 100%!important;
      background-repeat: no-repeat;
      padding: 0;
      aspect-ratio: 1/1;
      background-image: url(/wp-content/themes/conall-child/dist/images/Elevar_Gradient_MOB.png) !important;
    }
    h5 {
      font-size: 28px;
      line-height: 45px;
      margin-top: 15px !important;
    }
    p {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
  }
  .icon-topbox.vc_column_container {
    display: flex;
    padding: 3% 0;
  }
  #bottombox1,
  #bottombox2,
  #bottombox3 {
    justify-content: center;
  }
  .icon-bottombox {
      .edgtf-iwt.edgtf-iwt-icon-top {
        flex-direction: column;
        justify-content: center;
      }
      .edgtf-iwt-icon-holder {
        width: 100%;
        display: inline-flex;
        aspect-ratio: 2/1;
        align-items: center;
        padding: 0;
        height: 60%;
      }
      .edgtf-iwt-content-holder {
        display: flex;
        align-items: center;
        width: 88%;
        margin: 0 auto;
        height: 10%;
      }
      div.vc_column-inner {
        max-width: 600px;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%!important;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        aspect-ratio: 1/1;
        background-image: url(/wp-content/themes/conall-child/dist/images/Elevar_Gradient_MOB.png) !important;
      }
      h5 {
        font-size: 28px;
        line-height: 45px;
      }
  }
  .icon-bottombox.vc_column_container {
    display: flex;
    padding: 3% 0;
  }
  #asco_23_hero_row {
    height: 80vh;
    background-repeat: no-repeat !important;
    background-image: url(/wp-content/uploads/2023/04/hero_mobi.png);
    #visit-us-subtitle,
    #address-line {
      h3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .map-ping {
          margin: 20px 0 0;
        }
      }
    }
  }
  #form-container-row {
    padding: 40px 20px !important;
  }
  #spacer-row {
    #dates-cols-row {
      .edgtf-full-section-inner {
        .wpb_column:first-child .vc_column-inner {
          padding: 0;
        }
        .wpb_column:nth-child(2) {
          .vc_column-inner {
            padding: 0;
          }
        }
      }
    }
    .spacer-title {
      h4 {
        text-align: left;
        padding: 0 0 0 30px;
      }
    }
  }
  #temp-footer-row {

    #temp-footer-container {
      .footer-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        p {
          margin: 0;
        }
      }
      .copy-right-line {
        color: $white;
      }
      #bottom-links {
        span {
          display: block;
          width: 100vw;
          text-align: center;
        }
      }
      .copy-right-line {
        text-align: center;
      }
      .policies-links {
        > div {
          text-align: center;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 420px;
  }
  .icon-topbox div.vc_column-inner {
    padding: 12%;
  }
  .icon-bottombox {
    div.vc_column-inner {
    padding: 12%;
    }
    .edgtf-iwt-icon-holder {
      height: 50%;
    }
    .edgtf-iwt-content-holder {
      height: 30%;
    }
  }
  .career-icon6 {
    h5 {
      margin-top: 30px !important;
    }
  }
  #our-purpose {
    .space-95 {
      height: 60px !important;
    }     
  }
  #careers-paylocity-row {
    h4.eoe-headline {
      font-size: 20px;
      margin-top: 35px;
    }
    p.eoe-copy {
      font-size: 18px;
      margin-top: 25px;
    }
    .space-70 {
      display: none;
    }
    .space-50 {
      display: none;
    }
  }
  #colored-healthcare-button {
    p {
      height: initial;
      a {
        font-size: 18px;
      }
    }
    min-height: 100px;
  }

  div.container-iframe {
    margin-top: 25px;
  }
}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 480px) {
  .page-id-17194 .edgtf-grid-section .edgtf-section-inner {
    width: 350px;
  }
   #mission-statement {
    padding-top: 30px !important;
    padding-bottom: 0px !important;
  }
  .edgtf-iwt:not(.edgtf-iwt-left-from-title):not(.edgtf-iwt-icon-top-with-separator) .edgtf-iwt-title-holder {
    margin-bottom: 0px!important;
  }
  .icon-topbox.vc_column_container {
    display: flex;
    padding: 4%;
  }
  .icon-bottombox.vc_column_container {
    display: flex;
    padding: 4%;
  }
  .icon-topbox {
    .edgtf-iwt-content-holder {
      width: 88%;
      margin: 0 auto;
    }
    .edgtf-iwt-icon-holder {
      aspect-ratio: initial;
    }
    .edgtf-iwt-icon-holder img {
      max-width: 150px;
    }
    div.vc_column-inner {
      padding: 0;
    }
    h5 {
      font-size: 28px;
      line-height: 32px;
      margin-top: 10px !important;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
    p:nth-child(2) {
      width: 70%;
    }
    p:nth-child(4) {
      width: 65%;
    }
  }
  .icon-bottombox {
    .edgtf-iwt-content-holder {
      width: 88%;
      margin: 0 auto;
    }
    .edgtf-iwt-icon-holder img {
      max-width: 150px;
    }
    div.vc_column-inner {
      padding: 0;
    }
    h5 {
      font-size: 28px;
      line-height: 32px;
    }
  }
  #colored-healthcare-button {
    min-height: 153px;
    margin: 0%;
    margin-top: 20px;
    padding: 0 24px;
    p {
    height: unset; 
      a {
      font-size: 21px;
      text-align: left;
      padding-left: 0;
      line-height: 1.75rem;
        img {
        margin-right: 20px;
        }
      }
    }
  }
}