@import "../base/colors";

      /*      Rivoceranib page          */

#about-rivoceranib {
  .new-txt-block {
    h3 {
      font-size: 26px;
      font-weight: 500;
      margin: 25px 0 !important;
      color: $elevar_blue;
    }
    p {
      color: $drk_gray;
    }
  }
}