@import "../base/colors";
@import "../base/font";

/* ******* UTILITY PAGES 2023 START ******* */

ul {
    margin: 0 20px 0 0;
    padding-left: 18px;
    text-align: left;
}
ul li {
    list-style-position: outside;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
}
ul ul, ol ol, ol ul, ul ol {
    margin: 0;
    padding: 0px 0 0 20px;
}
@media all and (max-width: 1024px) {

}
@media all and (max-width: 768px) {

}
@media all and (max-width: 576px) {
    figure.wp-block-table {
        width: 420px;
    }
    .wp-block-table table {
        width: 420px;
        font-size: 10px;
    }
}
@media all and (max-width: 480px) {

}
@media all and (max-width: 320px) {

}

/* ******* UTILITY PAGES 2023 START ******* */